:root {
    --color-dark-red: #500b0b;
    --color-dark-red-b: #640d0d;
    --color-dark-red-b-o: #640d0d77;
    --color-card: #863030;
    --color-light-red: #cd3232;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Ranade', sans-serif !important;
    background-image: url('istockphoto-946853908-612x612.jpg');
}